<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<div id="project_container">
	<nav th:replace="fragments/commons::nav"></nav>
	<main id="project_content">


		<h1 style="text-align:center; margin-top  : 30px;"> <strong>Admin Portal</strong></h1>

		<br/><br/>
		<hr/>
		<div style="text-align:center; margin-top  : 40px;">
			<a th:href="@{/books/add}"><button
					style="background-color: #4CAF50; /* Green */ border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 36px;">Add New Book </button></a>

		</div>

		<div style="text-align:center; margin-top  : 40px;">
			<a th:href="@{/api/books}"><button
					style="background-color: red; /* Green */ border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 36px;">View Book List</button></a>

		</div>
		<div class="cleaner_with_height"></div>

	</main> <!-- end of content -->

	<footer th:replace="fragments/commons::footer"></footer>
</div>
</body>
</html>

	



